@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
// font-family: "Lobster", sans-serif;
// font-family: "Pacifico", cursive;
// font-family: "EB Garamond", serif;
// font-family: "Roboto Slab", serif;
//   font-optical-sizing: auto;
//   font-weight: 700;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 25px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: 100%;
  margin-top: 20px;

  img:first-child {
    transition: all 0.25s ease-out;
    width: 44px;
    height: 44px;

    &:hover {
      filter: invert(66%) sepia(21%) saturate(4734%) hue-rotate(1deg)
        brightness(104%) contrast(104%);
      cursor: pointer;
    }
  }

  .right-side {
    display: flex;
    gap: 10px;
    align-items: center;

    .button-modal {
      position: relative;
    }

    p {
      transition: all 0.25s ease-out;

      &:hover {
        cursor: pointer;
        color: cyan;
      }
    }

    button {
      all: unset;
      display: flex;
      align-items: center;
      border: 1px ridge black;
      border-radius: 10px;
      padding-left: 5px;

      img {
        transform: rotate(180deg) scale(0.5) translateY(50px);
        opacity: 0;
        transition: all 0.25s ease-out;

        &:hover {
          filter: none;
        }
      }

      &:hover {
        cursor: pointer;
      }
      &:hover img {
        opacity: 1;
        transform: rotate(180deg) scale(0.5) translateY(-5px);
        cursor: pointer;
      }
    }
  }

  .modal {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background-color: white;
    padding: 0 15px 5px 15px;
    border-radius: 10px;
    border: 1px ridge black;
    text-align: center;

    ul {
      list-style: none;

      &:hover {
        cursor: pointer;
      }

      li {
        transition: all 0.25s ease-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

nav.navDark {
  color: white;

  img:first-of-type {
    &:hover {
      filter: invert(66%) sepia(21%) saturate(4734%) hue-rotate(1deg)
        brightness(224%) contrast(104%);
    }
  }

  .right-side {
    button {
      border: 1px ridge white;

      img {
        filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(186deg)
          brightness(107%) contrast(106%);

        &:hover {
          filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(186deg)
            brightness(107%) contrast(106%);
        }
      }
    }

    .modal.dark {
      background-color: black;
      border: 1px ridge white;
    }
  }
}

.sayings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  width: 100%;
  min-height: 200px;
  padding: 0 20px;
  animation-name: saying;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  z-index: 1;

  #back {
    width: 44px;
    height: 44px;
    transform: rotate(-90deg);
    filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(186deg)
      brightness(107%) contrast(106%);

    &:hover {
      transform: rotate(-90deg) scale(1.1);
      cursor: pointer;
    }
  }

  #forward {
    width: 44px;
    height: 44px;
    transform: rotate(90deg);
    filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(186deg)
      brightness(107%) contrast(106%);

    &:hover {
      transform: rotate(90deg) scale(1.1);
      cursor: pointer;
    }
  }
}

.sayings-wrapper.dark {
  background-color: orange;
}

.zig {
  animation-name: author;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

.saying-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  text-align: center;
  text-wrap: wrap;
}

// ANIMATION
@keyframes saying {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes author {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
